<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="BoolValue" value="true" />
    <add key="IntValue" value="12345" />
    <add key="StringValue" value="Test.String.Value" />
  </appSettings>
</configuration>