<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TestConnection" connectionString="host=localhost;"/>
  </connectionStrings>
  <appSettings>
    <add key="StringSetting" value="TestValue" />
    <add key="BoolSetting" value="true" />
    <add key="IntSetting" value="1" />
    <add key="CustomEnumSetting" value="Second" />
    <add key="CustomEnumNumericSetting" value="2" />
    <add key="TestConfigurationObjectName" value="TestName" />
    <add key="TestConfigurationObjectValue" value="TestValue" />
    <add key="RootStringValue" value="TestRootValue" />
    <add key="RootBoolSetting" value="true" />
    <add key="RootIntSetting" value="1" />
  </appSettings>
  <anyConfig>
    <add key="rootName" value="rootValue1" />
    <settings>
      <add key="name" value="value1" />
      <add key="isEnabled" value="true" />
    </settings>
    <config>
      <add key="name" value="othervalue1" />
      <add key="isEnabled" value="false" />
    </config>
  </anyConfig>
  <SimpleConfiguration>
    <BoolSetting>true</BoolSetting>
    <StringSetting>TestValue</StringSetting>
    <IntSetting>1</IntSetting>
    <Child>
      <Name>TestName</Name>
      <Value>TestValue</Value>
    </Child>
  </SimpleConfiguration>
  <nlog>
    <targets async="true">
      <target type="Trace" name="trace" layout="${longdate}|${level:uppercase=true}|${itn-activity-id}|${logger}|${message}|${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" appendTo="trace" />
    </rules>
  </nlog>
</configuration>