<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAApb+sVGe2VE+lMjIbVJEHSQQAAAACAAAAAAAQZgAAAAEAACAAAAAdFj8JnfBYcQgOXgykl0GMMr+LNbLvuHcKkORXyZMYYQAAAAAOgAAAAAIAACAAAABTTjVYGFlNx6Nrszzxx0zPVpv8pd7vvJTUZKkcoJ+qPOAAAABowVl8KfiD4E71oT4U/uhDFqgyp4ZSDkm8mBBIQzmCES7C62UgHhxlptfV37x4QSv2DvOdloBylQbeVYuRckLTgSondMNLZ+1O7QROxfg9NxwD0Kv7h68NGWgM06r85UbHK1PTuidAV+9JDD64zecyjaiDXcf+IWXr5RxcgHZZkhqNNdYn0PQU31EOvlwePZY/NIrWywF6a6mivHDLMjgdLRY6Xb8vpQyQCPrZP+lJjN4g9uULlM/pq4qw2exQ7KZmYE9+n4NByf+7ZbxLm+qUk7HuyM2wRHehrlnR/+1teUAAAAAwNlddSP6JBjfjkSkGtIwYfqSCIz6XEO/KQLikv9N4HNUiTWQdlwi8x/KhxuLvUvjoS4vYBQ+S9+APTvW5P+Bn</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="StringSetting" value="TestValue" />
    <add key="BoolSetting" value="true" />
    <add key="IntSetting" value="1" />
    <add key="CustomEnumSetting" value="Second" />
    <add key="CustomEnumNumericSetting" value="2" />
    <add key="TestConfigurationObjectName" value="TestName" />
    <add key="TestConfigurationObjectValue" value="TestValue" />
    <add key="RootStringValue" value="TestRootValue" />
    <add key="RootBoolSetting" value="true" />
    <add key="RootIntSetting" value="1" />
  </appSettings>
</configuration>