<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StringSetting" value="TestValue" />
    <add key="BoolSetting" value="true" />
    <add key="IntSetting" value="1" />
    <add key="CustomEnumSetting" value="Second" />
    <add key="CustomEnumNumericSetting" value="2" />
    <add key="TestConfigurationObjectName" value="TestName" />
    <add key="TestConfigurationObjectValue" value="TestValue" />
    <add key="RootStringValue" value="TestRootValue" />
    <add key="RootBoolSetting" value="true" />
    <add key="RootIntSetting" value="1" />
  </appSettings>
</configuration>