<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>l1S30c7KQjt7QUaImwzUcRt/kih4riCTCEySc2+aKHAQFLjct8vkbwpndNKLNHu/ia8xloU0LKCGn3k0Ogir0Wrbd5IWB96RkTiIGc2zXrr87XPFaZqtXRq7BeyYy/s5XX8xFwTYxiV6X3K3w1Sl6QcmJMnxKCztuEgTHJEn/bH/vr0Lc9TjRvZJN1mpmzRN6iZszRNVrOXWwblv6lBS3CEM0P9qO10EwDUib1XsgmZlLJI9N7CiArTdtlN+tnyRGd77kw+7u6Gq92srnP+c+7bQD1zT3YpE2B0xpZBlDBM1SzRA+OozWzqsq8TYrkIitu5u7OnxNxIgGbrPwA0ySw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>oenTxnRLm7I3Kr0y//U9WqGrqOBXgY3xCorI/cMzKCAAkrfm+uriqUT55+Ji8p2ai1325rxwAyweLF9mrPNuY3rKATM9eRBKtF/rOr0fvCnmrcTV1t+CLALXRPjRTX9aWUvZL0xy5bVEBm8GtZ6PO5GDwIT60TtmHjpiB/dREkE=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="StringSetting" value="TestValue" />
    <add key="BoolSetting" value="true" />
    <add key="IntSetting" value="1" />
    <add key="CustomEnumSetting" value="Second" />
    <add key="CustomEnumNumericSetting" value="2" />
    <add key="TestConfigurationObjectName" value="TestName" />
    <add key="TestConfigurationObjectValue" value="TestValue" />
    <add key="RootStringValue" value="TestRootValue" />
    <add key="RootBoolSetting" value="true" />
    <add key="RootIntSetting" value="1" />
  </appSettings>
</configuration>